<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.huawei.StudentService.mapper.StudentMapper">

	<resultMap type="com.huawei.StudentService.model.Student"
		id="studentMap">
		<id column="s_id" property="sid" jdbcType="INTEGER" />
		<result column="s_number" property="snumber" jdbcType="BIGINT" />
		<result column="s_pwd" property="spwd" jdbcType="VARCHAR" />
		<result column="s_name" property="sname" jdbcType="VARCHAR" />
		<result column="s_birthday" property="birthday"
			jdbcType="BIGINT" />
		<result column="s_age" property="age" jdbcType="INTEGER" />
		<result column="s_sex" property="sex" jdbcType="VARCHAR" />
		<result column="s_telphone" property="telphone"
			jdbcType="VARCHAR" />
		<result column="s_createby" property="createBy"
			jdbcType="VARCHAR" />
		<result column="s_createtime" property="createTime"
			jdbcType="BIGINT" />
		<result column="s_modifiedby" property="modifiedBy"
			jdbcType="VARCHAR" />
		<result column="s_modifiedtime" property="modifiedTime"
			jdbcType="BIGINT" />
	</resultMap>

	<sql id="all_columns">
		s_id, s_number, s_name, s_pwd, s_name, s_birthday, s_age,
		s_sex, s_telphone, s_createby, s_createtime, s_modifiedby,
		s_modifiedtime
	</sql>

	<sql id="baseQuery">
		select
		<include refid="all_columns" />
		from tbl_student
	</sql>

	<sql id="simpleQuery">
		select s_id, s_number, s_name, s_pwd from tbl_student
	</sql>

	<select id="getInfosByPage" resultMap="studentMap">
		<include refid="baseQuery" />
		<choose>
			<when test="startIndex >= 0 and pageSize >= 0 and pageSize >= 0">
				limit #{startIndex}, #{pageSize}
			</when>
			<otherwise>
				limit 0, 15
			</otherwise>
		</choose>
	</select>

</mapper> 